@using OpenDota.Models;
@model RoomModel

@{
    string display = Model.IsBlocking ? "Заблокировать персонажа" : "Выбрать персонажа";
    string action = Model.IsBlocking ? "BanHero" : "SelectHero";
}

<h3>Выберите персонажа:</h3>



<table id="table">
    <thead>
        <tr>
            <td>Номер</td>
            <td>Имя</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in Model.Heroes)
        {
            <tr>
                <td>@hero.id</td>
                <td>@hero.name</td>
                <td>

                    @Ajax.ActionLink(
                   display, action, new { isCreator = Model.IsCreator, RoomId = Model.RoomId, HeroSelected = hero.id },
                   new AjaxOptions { UpdateTargetId = "container", OnSuccess = "RefreshHeroes" },
                   new { id = "heroSelectLink" })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $("#table").ready(() => {
        RefreshHeroes();
    })

</script>

@*@Html.ActionLink("Выбрать 1", "MakeStep", new { roomId = Model.RoomId, isCreator = Model.IsCreator})*@