<div class="centerBox" id="awaitDiv">
    <h3 class="textWait">Ожидание хода соперника...</h3>
    <img width="100" src="https://minecraft-pe.com/wp-content/themes/minecraft-pe/spinner.gif" />

</div>

<script>

    $("#awaitDiv").ready(() => {
        setTimeout(StartRefresh, 1000);
    })
</script>
