<div class="centerBox" id="awaitDiv">
    <h3 class="textWait">Ожидание хода соперника...</h3>
    <img width="100" src="https://minecraft-pe.com/wp-content/themes/minecraft-pe/spinner.gif" />

</div>

<script>
    //let linkElem;
    //let linkElem1;
    //let timer;

    $("#awaitDiv").ready(() => {
        setTimeout(StartRefresh, 1000);
    })

    //function Refresh() {
    //    linkElem1.click();
    //    timer = setTimeout(Refresh, 1000);
    //}

    //function AwaitContinue() {

    //}

    //function AwaitStop() {
    //    clearTimeout(timer);
    //    linkElem.click();
    //}
</script>
